<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
    <header class="border-bottom lh-1 py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
      </div>
      <div class="col-4 text-center">
          <a class="blog-header-logo text-body-emphasis text-decoration-none" href="#">About me/Home</a>
        <h1></h1>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
      </div>
    </div>
  </header>
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">About me</h1>
      <p class="lead my-3">Hello! My name is Andrew Zheleznyak, and I am a passionate QA Automation Engineer with expertise in Python. With a strong foundation in software testing principles, I have dedicated my career to ensuring the delivery of high-quality software products. My journey into the world of Quality Assurance began with a deep curiosity for how technology works and a keen eye for detail. With a strong foundation in software testing principles, I have dedicated my career to ensuring the delivery of high-quality software products. My journey into the world of Quality Assurance began with a deep curiosity for how technology works and a keen eye for detail. As a QA Automation specialist, I thrive on the challenges of automating repetitive tasks and creating robust test frameworks. Python has become my language of choice for automation due to its versatility, readability, and extensive libraries that facilitate seamless test scripting.

</p>
    </div>
  </div>
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">Skills</h1>
      <p class="lead my-3">Test Automation using Python, Selenium, and other cutting-edge tools</p>
    </div>
  </div>
</body>
</html>